.contactImg {
    width: 100%;
    height: 380px;
    background-image: url('/bg/contactImg.jpg');
    background-size: cover;
    background-position: center;
}
.aboutImg {
    width: 100%;
    height: 380px;
    background-image: url('/bg/aboutImg.jpg');
    background-size: cover;
    background-position: center;
}
.historyImg {
    width: 100%;
    height: 380px;
    background-image: url('/bg/historyImg.jpg');
    background-size: cover;
    background-position: center;
}
.mallImg {
    width: 100%;
    height: 380px;
    background-image: url('/bg/digitalserviceMall.jpg');
    background-size: cover;
    background-position: center;
}
.wormImg {
    width: 100%;
    height: 380px;
    background-image: url('/bg/wormSolution.jpg');
    background-size: cover;
    background-position: center;
}
.mydataImg {
    width: 100%;
    height: 380px;
    background-image: url('/bg/mydata.jpg');
    background-size: cover;
    background-position: center;
}
.secuPdsImg {
    width: 100%;
    height: 380px;
    background-image: url('/bg/secuPDS.jpg');
    background-size: cover;
    background-position: center;
}
