.footer_style {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 60px 0;
    background-color: #f8f8fa;
}

.footer_addr {
    font-size: 16px;
}
.footer_addr br {
    display: none;
}
@media all and (max-width: 649px) {
    .footer_addr br {
        display: block;
    }
}
.footer_contact p {
    font-size: 16px;
}
.footer_contact {
    display: flex;
    gap: 15px;
}
@media all and (max-width: 480px) {
    .footer_contact {
        display: flex;
        flex-direction: column;
        gap: 0px;
        font-size: 15px;
    }
    .mb_del {
        display: none;
    }
}
.footer_copyright {
    font-size: 13px;
}
