.header_style{
    height: 80px;
    display: flex;
    align-items: center;
    background: #fff;
    text-align: center;
}

.menu_style{
    display: flex;
    list-style: none;
    gap: 30px;
    position: relative;
}
.menu_style li{
    cursor: pointer;
    width: 120px;
}
.sec_menu{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    top: 40px;
}
.sec_menu li:hover{
    color: #00A0E9;
}
.menu_style:hover .sec_menu{
    display: flex;
}