.banner {
    width: 100%;
    height: 600px;
    background: linear-gradient(180deg, #fff, #f1f3ff);
}

.homeTitle {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 120px auto 60px auto;
}
.homeTitle h2 {
    font-size: 18px;
    color: #00a0e9;
    font-weight: 400;
    margin-bottom: 10px;
}
.homeTitle h1 {
    font-size: 38px;
}
.bannerImgWrap {
    width: 900px;
    height: 707px;
    position: relative;
    margin-top: 30px;
}
.bannerSecondImgWrap {
    width: 1000px;
    height: 100%;
    position: relative;
}
.bannerCopy {
    width: 48%;
    display: flex;
    align-items: center;
    margin-left: 73px;
}
.bannerCopy h1 {
    font-size: 58px;
    line-height: 1.2;
    color: #3e3e3e;
    font-weight: 450;
}
.highlight {
    font-size: 60px;
    color: #00a0e9;
    font-weight: 680;
}
.bannerCopy p {
    width: 675px;
    line-height: 1.6;
    margin-top: 30px;
}
.bannerContent {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.caseStudy {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: space-between;
}
.caseStudy:first-child {
    margin-bottom: 30px;
}
.caseImgWrap {
    position: relative;
    width: 500px;
    height: 230px;
    overflow: hidden;
    border-radius: 6px;
}
.caseText {
    width: 60%;
}
.caseText h1 {
    font-size: 24px;
    font-weight: 550;
    color: #333;
    white-space: nowrap;
    text-overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 15px;
}
.caseText p {
    display: -webkit-box;
    -webkit-line-clamp: 4; /* 최대 2줄 */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.homeTech {
    background-image: url('/landing/techBg.jpg');
    background-size: cover;
    background-position: center;
    padding: 60px 0;
}

.countNum {
    color: #fff;
    font-size: 78px;
    font-weight: 650;
}
